openapi: 3.0.1
info:
  contact:
    email: webservices@paylocity.com
  description: "For documentation about this API, please visit https://developer.paylocity.com/integrations/reference/weblink-overview"
  title: WebLink API
  version: v2
  x-konfig-has-globally-required-security: true
servers:
- url: https://apisandbox.paylocity.com/api
tags:
- name: Local Tax
- name: Earnings
- name: Deduction
- name: Employee
- name: Local Taxes
- name: PayStatements
- name: Employee (v1)
- name: Sensitive Data
- name: Onboarding
- name: Additional Rates
- name: Client Credentials
- name: Company Codes
- name: Company-Specific Schema
- name: Custom Fields
- name: Direct Deposit
- name: Emergency Contacts
- name: Employee Benefit Setup
- name: Employee Staging
- name: Non-Primary State Tax
- name: Primary State Tax
paths:
  /v1/employee:
    post:
      description: "This resource allows for the creation of a new employee record\
        \ for a specified companyID.  Additional field objects may need to be added\
        \ for companies that use the New Hire Template in the Paylocity HCM solution\
        \ when hiring employees and have additional required fields.\n \n> \U0001f6a7\
        \ Maintenance Mode\n> \n> _This resource version is in a limited support mode\
        \ and should not be used for new integrations.  Please use the latest version._\n"
      operationId: EmployeeV1_createNewEmployeeRecord
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeV1CreateNewEmployeeRecordRequest'
        description: New Employee
        required: true
      responses:
        "201":
          content: {}
          description: Successfully added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content: {}
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Add new employee
      tags:
      - Employee (v1)
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-employee
      x-content-type: application/json
      x-accepts: application/json
  /v1/company/{companyId}/employee/{employeeId}:
    get:
      description: "Get Employee API will return employee data currently available\
        \ in Paylocity Payroll/HR solution.\n \n> \U0001f6a7 Maintenance Mode\n> \n\
        > _This resource version is in a limited support mode and should not be used\
        \ for new integrations.  Please use the latest version._\n"
      operationId: EmployeeV1_getEmployeeData
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employeeV1'
          description: Successfully Retrieved
        "403":
          content: {}
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get Employee
      tags:
      - Employee (v1)
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-company-companyId-employee-employeeId
      x-accepts: application/json
  /v1/update-employee:
    post:
      description: "Update Employee API sends updates to employee data to Paylocity\
        \ Payroll/HR solution.\n \n> \U0001f6a7 Maintenance Mode\n> \n> _This resource\
        \ version is in a limited support mode and should not be used for new integrations.\
        \  Please use the latest version._\n"
      operationId: EmployeeV1_updateEmployeeDataToPaylocity
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeV1UpdateEmployeeDataToPaylocityRequest'
        description: UpdateEmployee
        required: true
      responses:
        "200":
          content: {}
          description: Successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content: {}
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Update employee
      tags:
      - Employee (v1)
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-update-employee
      x-content-type: application/json
      x-accepts: application/json
  /v1/deduction:
    post:
      description: Add/Update Deduction API sends new or updated employee deduction
        information directly to Paylocity Payroll/HR solution.
      operationId: Deduction_addOrUpdateDeduction
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeductionAddOrUpdateDeductionRequest'
        description: Deduction
        required: true
      responses:
        "200":
          content: {}
          description: Successfully processed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content: {}
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Add / Update Deduction
      tags:
      - Deduction
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-deduction
      x-content-type: application/json
      x-accepts: application/json
  /v1/companies/{companyId}/employees/{employeeId}/deductions/{deductionCode}/{startDate}:
    delete:
      description: Delete Deduction API deletes an incorrect deduction from Paylocity
        Payroll/HR solution.
      operationId: Deduction_removeDeductionByCodeAndStartDate
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: Deduction Code
        explode: false
        in: path
        name: deductionCode
        required: true
        schema:
          type: string
        style: simple
      - description: Start Date
        explode: false
        in: path
        name: startDate
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: Successfully Deleted
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Delete deduction for deduction code / start date
      tags:
      - Deduction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-companies-companyId-employees-employeeId-deductions-deductionCode-startDate
      x-accepts: application/json
  /v1/companies/{companyId}/employees/{employeeId}/deductions:
    get:
      description: Get All Deductions returns all deductions for the selected employee.
      operationId: Deduction_getAllDeductions
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeductionGetAllDeductionsResponse'
          description: Successfully Retrieved
        "403":
          content: {}
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get All Deductions
      tags:
      - Deduction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-companies-companyId-employees-employeeId-deductions
      x-accepts: application/json
  /v1/companies/{companyId}/employees/{employeeId}/deductions/{deductionCode}:
    get:
      description: Get Deduction for Deduction Code returns records for a specific
        deduction for the selected employee.
      operationId: Deduction_getByCode
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: Deduction Code
        explode: false
        in: path
        name: deductionCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deduction'
          description: Successfully Retrieved
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get Deduction for Deduction Code
      tags:
      - Deduction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-companies-companyId-employees-employeeId-deductions-deductionCode
      x-accepts: application/json
  /v1/companies/{companyId}/onboarding/employees:
    post:
      description: Onboarding API sends employee data into Paylocity Onboarding to
        help ensure an easy and accurate hiring process for subsequent completion
        into Paylocity Payroll/HR solution.
      operationId: Onboarding_addEmployeeToOnboarding
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding'
        description: onboarding Model
        required: true
      responses:
        "201":
          content: {}
          description: Successfully Added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content: {}
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Add Employee to Onboarding
      tags:
      - Onboarding
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-companies-companyId-onboarding-employees
      x-content-type: application/json
      x-accepts: application/json
  /v1/companies/{companyId}/employees/{employeeId}/localTaxes/{taxCode}:
    delete:
      description: Delete Local Tax for Tax Code deletes the local tax code from Paylocity
        Payroll/HR solution.
      operationId: LocalTax_removeForTaxCode
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: Tax Code
        explode: false
        in: path
        name: taxCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: Successfully Deleted
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Delete Local Tax for Tax Code
      tags:
      - Local Tax
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-companies-companyId-employees-employeeId-localTaxes-taxCode
      x-accepts: application/json
    get:
      description: Get Local Tax for Tax Code returns local tax information for the
        specific tax code for the selected employee.
      operationId: LocalTax_getForTaxCode
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: Tax Code
        explode: false
        in: path
        name: taxCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/localTax'
          description: Successfully Retrieved
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get Local Tax for Tax Code
      tags:
      - Local Tax
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-companies-companyId-employees-employeeId-localTaxes-taxCode
      x-accepts: application/json
    put:
      description: Update Local Tax sends updated local tax code information for the
        selected employee.
      operationId: LocalTax_updateForTaxCode
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: Tax Code
        explode: false
        in: path
        name: taxCode
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/localTax'
        description: "localTax Model (Note: taxCode can be included in the localTax\
          \ model but will be ignored)"
        required: true
      responses:
        "204":
          content: {}
          description: Successfully Updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Update Local Tax
      tags:
      - Local Tax
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /v1/companies/{companyId}/employees/{employeeId}/localTaxes:
    get:
      description: Get All Local Taxes returns all local tax information for the selected
        employee.
      operationId: LocalTax_getAllTaxesForEmployee
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxGetAllTaxesForEmployeeResponse'
          description: Successfully Retrieved
        "403":
          content: {}
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get All Local Taxes
      tags:
      - Local Tax
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-companies-companyId-employees-employeeId-localTaxes
      x-accepts: application/json
    post:
      description: Add Local Tax sends new local tax information directly to Paylocity
        Payroll/HR solution.
      operationId: LocalTax_createOrUpdateLocalTaxes
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/localTax'
        description: localTax Model
        required: true
      responses:
        "201":
          content: {}
          description: Successfully Added
          headers:
            location:
              description: The URI to the newly created local tax
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content: {}
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Add Local Tax
      tags:
      - Local Tax
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-companies-companyId-employees-employeeId-localTaxes
      x-content-type: application/json
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/additionalRates:
    put:
      description: Sends new or updated employee additional rates information directly
        to Paylocity Payroll/HR solution.
      operationId: AdditionalRates_updateEmployeeAdditionalRates
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/additionalRate'
        description: Additional Rate Model
        required: true
      responses:
        "200":
          content: {}
          description: Successfully added or updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalRatesUpdateEmployeeAdditionalRatesResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalRatesUpdateEmployeeAdditionalRates500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Add/update additional rates
      tags:
      - Additional Rates
      x-codegen-request-body-name: json
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v2-companies-companyId-employees-employeeId-additionalRates
      x-content-type: application/json
      x-accepts: application/json
  /v2/credentials/secrets:
    post:
      description: Obtain new client secret for Paylocity-issued client id. See Weblink
        Authentication section for details.
      operationId: ClientCredentials_obtainNewClientSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addClientSecret'
        description: Add Client Secret Model
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCredentialsObtainNewClientSecretResponse'
          description: Successfully added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCredentialsObtainNewClientSecret400Response'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCredentialsObtainNewClientSecret500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Obtain new client secret.
      tags:
      - Client Credentials
      x-codegen-request-body-name: json
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-credentials-secrets
      x-content-type: application/json
      x-accepts: application/json
  /v2/companies/{companyId}/codes/{codeResource}:
    get:
      description: "Get All Company Codes for the selected company and resource.\n\
        \\\n> \U0001f6a7 Maintenance Mode\n> \n> _This API is in a limited support\
        \ mode and certain resources will be moved to a sunset status in the next\
        \ 18-24 months._\n> \r\n> The [Company Level Information API](ref:get_apihub-payroll-v1-companies-companyid-jobs)\
        \ should be used when possible in place of Company Codes resource of this\
        \ API"
      operationId: CompanyCodes_getAllByResource
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "Type of Company Code. Common values costcenter1, costcenter2,\
          \ costcenter3, deductions, earnings, taxes, paygrade, positions."
        explode: false
        in: path
        name: codeResource
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCodesGetAllByResourceResponse'
          description: Successfully retrieved
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCodesGetAllByResource404Response'
          description: Invalid Code Resource
          x-do-not-generate: true
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCodesGetAllByResource500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get All Company Codes
      tags:
      - Company Codes
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-codes-codeResource
      x-accepts: application/json
  /v2/companies/{companyId}/openapi:
    get:
      description: "The company-specific Open API endpoint allows the client to GET\
        \ an Open API document for the Paylocity API that is customized with company-specific\
        \ resource schemas. These customized resource schemas define certain properties\
        \ as enumerations of pre-defined values that correspond to the company's setup\
        \ with Paylocity Payroll/HR solution. The customized schemas also indicate\
        \ which properties are required by the company within Paylocity Payroll/HR\
        \ solution.<br  />To learn more about Open API, click [here](https://www.openapis.org/)"
      operationId: CompanySpecificSchema_getOpenApiDoc
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: Successfully retrieved
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySpecificSchemaGetOpenApiDocResponse'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content: {}
          description: Forbidden
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySpecificSchemaGetOpenApiDoc500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get Company-Specific Open API Documentation
      tags:
      - Company-Specific Schema
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-openapi
      x-accepts: application/json
  /v2/companies/{companyId}/customfields/{category}:
    get:
      description: Get All Custom Fields for the selected company
      operationId: CustomFields_getAllByCategory
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: Custom Fields Category
        explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsGetAllByCategoryResponse'
          description: Successfully retrieved
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsGetAllByCategory404Response'
          description: Invalid Category
          x-do-not-generate: true
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsGetAllByCategory500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get All Custom Fields
      tags:
      - Custom Fields
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-customfields-category
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/directDeposit:
    get:
      description: Get All Direct Deposit returns main direct deposit and all additional
        direct depositsfor the selected employee.
      operationId: DirectDeposit_getAllDirectDeposits
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDepositGetAllDirectDepositsResponse'
          description: Successfully Retrieved
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDepositGetAllDirectDeposits404Response'
          description: "The employee, or direct deposit does not exist"
          x-do-not-generate: true
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDepositGetAllDirectDeposits500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get All Direct Deposit
      tags:
      - Direct Deposit
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-employees-employeeId-directDeposit
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/earnings:
    get:
      description: Get All Earnings returns all earnings for the selected employee.
      operationId: Earnings_getAll
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsGetAllResponse'
          description: Successfully retrieved
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: The employee does not exist
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsGetAll500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get All Earnings
      tags:
      - Earnings
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-employees-employeeId-earnings
      x-accepts: application/json
    put:
      description: Add/Update Earning API sends new or updated employee earnings information
        directly to Paylocity Payroll/HR solution.
      operationId: Earnings_addOrUpdateEarning
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/earning'
        description: Earning Model
        required: true
      responses:
        "200":
          content: {}
          description: Successfully added or updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsAddOrUpdateEarningResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsAddOrUpdateEarning500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Add/Update Earning
      tags:
      - Earnings
      x-codegen-request-body-name: json
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v2-companies-companyId-employees-employeeId-earnings
      x-content-type: application/json
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/earnings/{earningCode}/{startDate}:
    delete:
      description: Delete Earning by Earning Code and Start Date
      operationId: Earnings_deleteByCodeAndStart
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: Earning Code
        explode: false
        in: path
        name: earningCode
        required: true
        schema:
          type: string
        style: simple
      - description: Start Date
        explode: false
        in: path
        name: startDate
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: Successfully deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsDeleteByCodeAndStartResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: "The employee does not exist, or the specified earningCode-startDate\
            \ combination does not exist"
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsDeleteByCodeAndStart500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Delete Earning by Earning Code and Start Date
      tags:
      - Earnings
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v2-companies-companyId-employees-employeeId-earnings-earningCode-startDate
      x-accepts: application/json
    get:
      description: Get Earnings returns the single earning with the provided earning
        code and start date for the selected employee.
      operationId: Earnings_getByCodeAndStart
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: Earning Code
        explode: false
        in: path
        name: earningCode
        required: true
        schema:
          type: string
        style: simple
      - description: Start Date
        explode: false
        in: path
        name: startDate
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/earning'
          description: Successfully retrieved
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: "The employee does not exist, or the specified earningCode-startDate\
            \ combination does not exist"
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsGetByCodeAndStartResponse'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get Earning by Earning Code and Start Date
      tags:
      - Earnings
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-employees-employeeId-earnings-earningCode-startDate
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/earnings/{earningCode}:
    get:
      description: Get Earnings returns all earnings with the provided earning code
        for the selected employee.
      operationId: Earnings_getByEarningCode
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: Earning Code
        explode: false
        in: path
        name: earningCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsGetByEarningCodeResponse'
          description: Successfully retrieved
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: The employee does not exist
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsGetByEarningCode500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get Earnings by Earning Code
      tags:
      - Earnings
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-employees-employeeId-earnings-earningCode
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/emergencyContacts:
    put:
      description: Sends new or updated employee emergency contacts directly to Paylocity
        Payroll/HR solution.
      operationId: EmergencyContacts_addOrUpdate
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emergencyContact'
        description: Emergency Contact Model
        required: true
      responses:
        "200":
          content: {}
          description: Successfully added or updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmergencyContactsAddOrUpdateResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmergencyContactsAddOrUpdate500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Add/update emergency contacts
      tags:
      - Emergency Contacts
      x-codegen-request-body-name: json
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v2-companies-companyId-employees-employeeId-emergencyContacts
      x-content-type: application/json
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/benefitSetup:
    put:
      description: Sends new or updated employee benefit setup information directly
        to Paylocity Payroll/HR solution.
      operationId: EmployeeBenefitSetup_addOrUpdateBenefitSetup
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/benefitSetup'
        description: BenefitSetup Model
        required: true
      responses:
        "200":
          content: {}
          description: Successfully added or updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeBenefitSetupAddOrUpdateBenefitSetupResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeBenefitSetupAddOrUpdateBenefitSetup500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Add/update employee's benefit setup
      tags:
      - Employee Benefit Setup
      x-codegen-request-body-name: json
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v2-companies-companyId-employees-employeeId-benefitSetup
      x-content-type: application/json
      x-accepts: application/json
  /v2/weblinkstaging/companies/{companyId}/employees/newemployees:
    post:
      description: "Add new employee to Web Link will send partially completed or\
        \ potentially erroneous new hire record to Web Link, where it can be corrected\
        \ and competed by company administrator or authorized Paylocity Service Bureau\
        \ employee."
      operationId: EmployeeStaging_addNewEmployeeToWebLink
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/stagedEmployee'
        description: StagedEmployee Model
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeStagingAddNewEmployeeToWebLinkResponse'
          description: Successfully Added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeStagingAddNewEmployeeToWebLink400Response'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content: {}
          description: Forbidden
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeStagingAddNewEmployeeToWebLink500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Add new employee to Web Link
      tags:
      - Employee Staging
      x-codegen-request-body-name: json
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-weblinkstaging-companies-companyId-employees-newemployees
      x-content-type: application/json
      x-accepts: application/json
  /v2/companies/{companyId}/employees:
    get:
      description: "Get All Employees API will return employee data currently available\
        \ in Paylocity Payroll/HR solution.\n\\\n> \U0001f6a7 Maintenance Mode\n>\
        \ \n> _This API is in a limited support mode and certain resources will be\
        \ moved to a sunset status in the next 18-24 months._\n> \r\n> The [Employee\
        \ Demographic API](ref:get_corehr-v1-companies-companyid-employees) should\
        \ be used when possible in place of the Employee resources of this API"
      operationId: Employee_getAllEmployees
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: Number of records per page. Default value is 25.
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: "Page number to retrieve; page numbers are 0-based (so to get\
          \ the first page of results, pass pagenumber=0). Default value is 0."
        explode: true
        in: query
        name: pagenumber
        required: false
        schema:
          type: integer
        style: form
      - description: Whether to include the total record count in the header's X-Pcty-Total-Count
          property. Default value is true.
        explode: true
        in: query
        name: includetotalcount
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetAllEmployeesResponse'
          description: Successfully Retrieved
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetAllEmployees404Response'
          description: The company does not exist
          x-do-not-generate: true
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetAllEmployees500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get all employees
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-employees
      x-accepts: application/json
    post:
      description: New Employee API sends new employee data directly to Paylocity
        Payroll/HR solution. Companies who use the New Hire Template in Paylocity
        Payroll/HR solution may require additional fields when hiring employees. New
        Employee API Requests will honor these required fields.
      operationId: Employee_addToPaylocity
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employee'
        description: Employee Model
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAddToPaylocityResponse'
          description: Successfully added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAddToPaylocity400Response'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAddToPaylocity500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Add new employee
      tags:
      - Employee
      x-codegen-request-body-name: json
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-companies-companyId-employees
      x-content-type: application/json
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}:
    get:
      description: "Get Employee API will return employee data currently available\
        \ in Paylocity Payroll/HR solution.\n\\\n> \U0001f6a7 Maintenance Mode\n>\
        \ \n> _This API is in a limited support mode and certain resources will be\
        \ moved to a sunset status in the next 18-24 months._\n> \r\n> The [Employee\
        \ Demographic API](ref:get_corehr-v1-companies-companyid-employees-employeeid)\
        \ should be used when possible in place of the Employee resources of this\
        \ API"
      operationId: Employee_getEmployeeData
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetEmployeeDataResponse'
          description: Successfully Retrieved
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetEmployeeData404Response'
          description: The employee does not exist
          x-do-not-generate: true
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetEmployeeData500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get employee
      tags:
      - Employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-employees-employeeId
      x-accepts: application/json
    patch:
      description: Update Employee API will update existing employee data in WebPay.
      operationId: Employee_updateEmployeeData
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employee'
        description: Employee Model
        required: true
      responses:
        "200":
          content: {}
          description: Successfully Updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeUpdateEmployeeDataResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeUpdateEmployeeData500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Update employee
      tags:
      - Employee
      x-codegen-request-body-name: json
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/localTaxes:
    get:
      description: Returns all local taxes for the selected employee.
      operationId: LocalTaxes_getAllForEmployee
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesGetAllForEmployeeResponse'
          description: Successfully retrieved
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: The employee does not exist
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesGetAllForEmployee500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get all local taxes
      tags:
      - Local Taxes
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-employees-employeeId-localTaxes
      x-accepts: application/json
    post:
      description: Sends new employee local tax information directly to Paylocity
        Payroll/HR solution.
      operationId: LocalTaxes_addNewTax
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/localTax'
        description: LocalTax Model
        required: true
      responses:
        "201":
          content: {}
          description: Successfully added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesAddNewTaxResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesAddNewTax500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Add new local tax
      tags:
      - Local Taxes
      x-codegen-request-body-name: json
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-companies-companyId-employees-employeeId-localTaxes
      x-content-type: application/json
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/localTaxes/{taxCode}:
    delete:
      description: Delete local tax by tax code
      operationId: LocalTaxes_deleteByTaxCode
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: Tax Code
        explode: false
        in: path
        name: taxCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: Successfully deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesDeleteByTaxCodeResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: "The employee does not exist, or the specified tax code does\
            \ not exist"
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesDeleteByTaxCode500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Delete local tax by tax code
      tags:
      - Local Taxes
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v2-companies-companyId-employees-employeeId-localTaxes-taxCode
      x-accepts: application/json
    get:
      description: Returns all local taxes with the provided tax code for the selected
        employee.
      operationId: LocalTaxes_getByTaxCode
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: Tax Code
        explode: false
        in: path
        name: taxCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesGetByTaxCodeResponse'
          description: Successfully retrieved
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: "The employee does not exist, or the specified tax code does\
            \ not exist"
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesGetByTaxCode500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get local taxes by tax code
      tags:
      - Local Taxes
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-employees-employeeId-localTaxes-taxCode
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/nonprimaryStateTax:
    put:
      description: Sends new or updated employee non-primary state tax information
        directly to Paylocity Payroll/HR solution.
      operationId: NonPrimaryStateTax_addOrUpdateStateTax
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nonPrimaryStateTax'
        description: Non-Primary State Tax Model
        required: true
      responses:
        "200":
          content: {}
          description: Successfully added or updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonPrimaryStateTaxAddOrUpdateStateTaxResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonPrimaryStateTaxAddOrUpdateStateTax500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Add/update non-primary state tax
      tags:
      - Non-Primary State Tax
      x-codegen-request-body-name: json
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v2-companies-companyId-employees-employeeId-nonprimaryStateTax
      x-content-type: application/json
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/paystatement/details/{year}/{checkDate}:
    get:
      description: Get pay statement details API will return employee pay statement
        detail data currently available in Paylocity Payroll/HR solution for the specified
        year and check date.
      operationId: PayStatements_getDetailsByYearAndCheckDate
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: The year for which to retrieve pay statement data
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: string
        style: simple
      - description: The check date for which to retrieve pay statement data
        explode: false
        in: path
        name: checkDate
        required: true
        schema:
          type: string
        style: simple
      - description: Number of records per page. Default value is 25.
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: "Page number to retrieve; page numbers are 0-based (so to get\
          \ the first page of results, pass pagenumber=0). Default value is 0."
        explode: true
        in: query
        name: pagenumber
        required: false
        schema:
          type: integer
        style: form
      - description: Whether to include the total record count in the header's X-Pcty-Total-Count
          property. Default value is true.
        explode: true
        in: query
        name: includetotalcount
        required: false
        schema:
          type: boolean
        style: form
      - description: "Retrieve pay statement details related to specific deduction,\
          \ earning or tax types. Common values include 401k, Memo, Reg, OT, Cash\
          \ Tips, FED and SITW."
        explode: true
        in: query
        name: codegroup
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetDetailsByYearAndCheckDateResponse'
          description: Successfully Retrieved
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetDetailsByYearAndCheckDate404Response'
          description: "The employee, specified year, or check date does not exist"
          x-do-not-generate: true
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetDetailsByYearAndCheckDate500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get employee pay statement details data for the specified year and
        check date.
      tags:
      - PayStatements
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-employees-employeeId-paystatement-details-year-checkDate
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/paystatement/details/{year}:
    get:
      description: Get pay statement details API will return employee pay statement
        details data currently available in Paylocity Payroll/HR solution for the
        specified year.
      operationId: PayStatements_getDetailsByYear
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: The year for which to retrieve pay statement data
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: string
        style: simple
      - description: Number of records per page. Default value is 25.
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: "Page number to retrieve; page numbers are 0-based (so to get\
          \ the first page of results, pass pagenumber=0). Default value is 0."
        explode: true
        in: query
        name: pagenumber
        required: false
        schema:
          type: integer
        style: form
      - description: Whether to include the total record count in the header's X-Pcty-Total-Count
          property. Default value is true.
        explode: true
        in: query
        name: includetotalcount
        required: false
        schema:
          type: boolean
        style: form
      - description: "Retrieve pay statement details related to specific deduction,\
          \ earning or tax types. Common values include 401k, Memo, Reg, OT, Cash\
          \ Tips, FED and SITW."
        explode: true
        in: query
        name: codegroup
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetDetailsByYearResponse'
          description: Successfully Retrieved
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetDetailsByYear404Response'
          description: "The employee, specified year, or check date does not exist"
          x-do-not-generate: true
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetDetailsByYear500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get employee pay statement details data for the specified year.
      tags:
      - PayStatements
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-employees-employeeId-paystatement-details-year
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/paystatement/summary/{year}/{checkDate}:
    get:
      description: Get pay statement summary API will return employee pay statement
        summary data currently available in Paylocity Payroll/HR solution for the
        specified year and check date.
      operationId: PayStatements_getSummaryData
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: The year for which to retrieve pay statement data
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: string
        style: simple
      - description: The check date for which to retrieve pay statement data
        explode: false
        in: path
        name: checkDate
        required: true
        schema:
          type: string
        style: simple
      - description: Number of records per page. Default value is 25.
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: "Page number to retrieve; page numbers are 0-based (so to get\
          \ the first page of results, pass pagenumber=0). Default value is 0."
        explode: true
        in: query
        name: pagenumber
        required: false
        schema:
          type: integer
        style: form
      - description: Whether to include the total record count in the header's X-Pcty-Total-Count
          property. Default value is true.
        explode: true
        in: query
        name: includetotalcount
        required: false
        schema:
          type: boolean
        style: form
      - description: "Retrieve pay statement details related to specific deduction,\
          \ earning or tax types. Common values include 401k, Memo, Reg, OT, Cash\
          \ Tips, FED and SITW."
        explode: true
        in: query
        name: codegroup
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetSummaryDataResponse'
          description: Successfully Retrieved
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetSummaryData404Response'
          description: "The employee, specified year, or check date does not exist"
          x-do-not-generate: true
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetSummaryData500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get employee pay statement summary data for the specified year and
        check date.
      tags:
      - PayStatements
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-employees-employeeId-paystatement-summary-year-checkDate
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/paystatement/summary/{year}:
    get:
      description: Get pay statement summary API will return employee pay statement
        summary data currently available in Paylocity Payroll/HR solution for the
        specified year.
      operationId: PayStatements_getSummaryByYear
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: The year for which to retrieve pay statement data
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: string
        style: simple
      - description: Number of records per page. Default value is 25.
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: "Page number to retrieve; page numbers are 0-based (so to get\
          \ the first page of results, pass pagenumber=0). Default value is 0."
        explode: true
        in: query
        name: pagenumber
        required: false
        schema:
          type: integer
        style: form
      - description: Whether to include the total record count in the header's X-Pcty-Total-Count
          property. Default value is true.
        explode: true
        in: query
        name: includetotalcount
        required: false
        schema:
          type: boolean
        style: form
      - description: "Retrieve pay statement details related to specific deduction,\
          \ earning or tax types. Common values include 401k, Memo, Reg, OT, Cash\
          \ Tips, FED and SITW."
        explode: true
        in: query
        name: codegroup
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetSummaryByYearResponse'
          description: Successfully Retrieved
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetSummaryByYear404Response'
          description: "The employee, specified year, or check date does not exist"
          x-do-not-generate: true
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetSummaryByYear500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Get employee pay statement summary data for the specified year.
      tags:
      - PayStatements
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-companyId-employees-employeeId-paystatement-summary-year
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/primaryStateTax:
    put:
      description: Sends new or updated employee primary state tax information directly
        to Paylocity Payroll/HR solution.
      operationId: PrimaryStateTax_addOrUpdateTax
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/stateTax'
        description: Primary State Tax Model
        required: true
      responses:
        "200":
          content: {}
          description: Successfully added or updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrimaryStateTaxAddOrUpdateTaxResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrimaryStateTaxAddOrUpdateTax500Response'
          description: Internal Server Error
          x-do-not-generate: true
      security:
      - paylocity_auth:
        - WebLinkAPI
      summary: Add/update primary state tax
      tags:
      - Primary State Tax
      x-codegen-request-body-name: json
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v2-companies-companyId-employees-employeeId-primaryStateTax
      x-content-type: application/json
      x-accepts: application/json
  /v2/companies/{companyId}/employees/{employeeId}/sensitivedata:
    get:
      description: Gets employee sensitive data information directly from Paylocity
        Payroll/HR solution.
      operationId: SensitiveData_getEmployeeSensitiveData
      parameters:
      - description: "The Paylocity Company Identifier. This is the unique value provided\
          \ by Paylocity to each specific Payroll Entity.\r\n                **Allowable\
          \ Values:**\r\n                9 char max"
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Paylocity Employee ID. This is a unique value per Paylocity\
          \ Company ID.\r\n**Allowable Values:**\r\n10 char max"
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveDataGetEmployeeSensitiveDataResponse'
          description: Successfully Retrieved
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveDataGetEmployeeSensitiveData400Response'
          description: Bad Request
[...]
